
 * {
   margin: 0;
   padding: 0;
 }

.btn-edit, .btn-delete, .btn-clone {
 float: left;
 margin: 5px 2px;
}

#demo-bar-buttons a {
  padding: 10px;
  text-transform: capitalize;
  text-decoration: none;
}
