.records-table {
  margin: 5vh auto;
}
.records-table tr:nth-child(2n) {
  background-color: #ccc;
}
.records-table td {
  line-height: 25px;
  padding-right: 5px;
  padding-left: 0.5%;
  border: 1px solid black;
}

.records-table th {
  padding: 2px 8px 2px 8px;
}

body {
  overflow-x: hidden;
}

.records-table thead, .records-table tfoot {
  color: #fff;
  background-color: #000;
  text-align: center;
}
.records-table thead tr th {
      box-sizing: border-box;
}

.records-table thead tr th:hover {
    cursor: pointer;
    color: rgba(255, 164, 164, 0.89);
    /* border: 2px solid white; */
    border-top: 0;
    border-bottom: 0;
}

.text-center .btn {
  min-width: 150px;
}

.records-table tr th:first {
  margin: -5px;
}

 @media
 only screen and (max-width: 760px),
 (min-device-width: 768px) and (max-device-width: 1024px)  {
   /* Force table to not be like tables anymore */
   .records-table, .records-table thead, .records-table tbody,
   .records-table th, .records-table td, .records-table tr {
     display: block;
   }
   /* Hide table headers (but not display: none;, for accessibility) */
   .records-table thead tr, .records-table tfoot tr {
     position: absolute;
     top: -9999px;
     left: -9999px;
   }
   .records-table tr { border: 1px solid #ccc; }

   .records-table td {
     /* Behave  like a "row" */
     border: none;
     border-bottom: 1px solid #eee;
     position: relative;
     padding-left: 50%;
   }

   .records-table td:before {
     /* Now like a table header */
     position: absolute;
     /* Top/left values mimic padding */
     top: 0px;
     left: 6px;
     width: 45%;
     padding-right: 10px;
     white-space: nowrap;
   }

   /*
   Label the data
   */
   #reagents-table td:nth-of-type(1):before { content: "Producator"; }
   #reagents-table td:nth-of-type(2):before { content: "Data primirii"; }
   #reagents-table td:nth-of-type(3):before { content: "Cod intern"; }
   #reagents-table td:nth-of-type(4):before { content: "Denumire"; }
   #reagents-table td:nth-of-type(5):before { content: "Lot"; }
   #reagents-table td:nth-of-type(6):before { content: "Ref"; }
   #reagents-table td:nth-of-type(7):before { content: "Cantitate"; }
   #reagents-table td:nth-of-type(8):before { content: "Data expirarii"; }
   #reagents-table td:nth-of-type(9):before { content: "Statut"; }
   #reagents-table td:nth-of-type(10):before { content: "Actiuni"; }

   #orders-table td:nth-of-type(1):before { content: "Nr"; }
   #orders-table td:nth-of-type(2):before { content: "Cod intern"; }
   #orders-table td:nth-of-type(3):before { content: "Producator"; }
   #orders-table td:nth-of-type(4):before { content: "Denumire reagent"; }
   #orders-table td:nth-of-type(5):before { content: "Ref"; }
   #orders-table td:nth-of-type(6):before { content: "Lot"; }
   #orders-table td:nth-of-type(7):before { content: "Data expirarii"; }
   #orders-table td:nth-of-type(8):before { content: "Personana"; }
   #orders-table td:nth-of-type(9):before { content: "Data eliberarii"; }
   #orders-table td:nth-of-type(10):before { content: "Actiuni"; }

   #people-table td:nth-of-type(1):before { content: "Nume persoana"; }
   #people-table td:nth-of-type(2):before { content: "Actiuni"; }

   #producers-table td:nth-of-type(1):before { content: "Producator"; }
   #producers-table td:nth-of-type(2):before { content: "Actiuni"; }

 }

 /* Smartphones (portrait and landscape) ----------- */
 @media only screen
 and (min-device-width : 320px)
 and (max-device-width : 480px) {
   body {
     padding: 0;
     margin: 0;
     width: 320px; }
   }

 /* iPads (portrait and landscape) ----------- */
 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
   body {
     width: 495px;
   }
 }
